{% extends 'layout.html' %}


{% block body %}
    <div class="container">
        <br><br>
        <form action="#" method="POST" enctype="multipart/form-data">
            <div class="input-group">
                <input type="file" class="form-control" name="image_name" required>
                <select name="model_name">
                    <option value="InceptionResNetV2">InceptionResNetV2</option>
                    <option value="YOLOv5">YOLOv5</option>
                </select>
                <input type="submit" value="Upload" class="btn btn-outline-secondary">
            </div>
        </form>
    </div>

    <!-- {% if upload %}
        {% if request.form['model_name'] == 'InceptionResNetV2' %} -->
            <!-- InceptionResNetV2 -->
            <!-- <div class="container">
                <br><br>
                <table>
                    <tr>
                        <td>
                            <img class="rounded float-left img-fluid" src="/static/upload/{{ upload_image }}" alt="">
                        </td>
                        <td>
                            <img class="rounded float-right img-fluid" src="/static/predict/{{ upload_image }}" alt="">
                        </td>
                    </tr>

                </table>
                <br>
                <table style="border: solid black; width: 100%;">
                    <tr style="border: solid black;">
                        <th style="color: white;">Cropped Licence Plate Image</th>
                        <th style="color: white;">Text</th>
                    </tr>
                    <tr style="border: solid black;">
                        <td>
                            <img class="img-fluid" src="/static/roi/{{ upload_image }}" alt="">
                        </td>
                        <td style="background-color: greenyellow;">
                            <h1 class="display-8"> {{ text }}</h1>
                        </td>

                    </tr>
                </table>

            </div> -->
        {% if request.form['model_name'] == 'YOLOv5' %}
            <!-- YOLOv5-->
            <div class="container">
                <br><br>
                <table>
                    <tr>
                        <td>
                            <img class="rounded float-left img-fluid" src="/static/upload_yolo/{{ upload_image }}" alt="">
                        </td>
                        <td>
                            <img class="rounded float-right img-fluid" src="/static/predict_yolo/{{ upload_image }}" alt="">
                        </td>
                    </tr>

                </table>
                <br>
                <table style="border: solid black; width: 100%;">
                    <tr style="border: solid black;">
                        <th style="color: white;">Cropped Image</th>
                        <th style="color: white;">Text</th>
                    </tr>
                    <tr style="border: solid black;">
                        <td>
                            <img class="img-fluid" src="/static/roi_yolo/{{ upload_image }}" alt="">
                        </td>
                        <td style="background-color: greenyellow;">
                            <h1 class="display-8"> {{ text }}</h1>
                        </td>

                    </tr>
                </table>

            </div>
        {% endif %}
    {% endif %}

{% endblock  %}


